In [1]:
import pandas as pd

## Starting from summary

In [2]:
results = pd.read_csv('all_data_summary.csv')
results.head()

,year_month,user_id,event_type,product_id_nunique,price_sum,price_mean,price_median,user_session_nunique,category_id_nunique
0,2019-10,4103071,cart,1,0.67,0.670000,0.670,1,1
1,2019-10,4103071,view,6,22.36,3.194286,3.020,1,2
2,2019-10,8846226,cart,24,87.51,3.646250,3.515,2,15
3,2019-10,8846226,remove_from_cart,12,73.72,4.607500,4.445,2,9
4,2019-10,8846226,view,6,39.40,5.628571,5.790,2,6

In [3]:
df = results.copy()

In [4]:
df['year_month_event_type'] = df['year_month'] + '_' + df['event_type']
df.head()

,year_month,user_id,event_type,product_id_nunique,price_sum,price_mean,price_median,user_session_nunique,category_id_nunique,year_month_event_type
0,2019-10,4103071,cart,1,0.67,0.670000,0.670,1,1,2019-10_cart
1,2019-10,4103071,view,6,22.36,3.194286,3.020,1,2,2019-10_view
2,2019-10,8846226,cart,24,87.51,3.646250,3.515,2,15,2019-10_cart
3,2019-10,8846226,remove_from_cart,12,73.72,4.607500,4.445,2,9,2019-10_remove_from_cart
4,2019-10,8846226,view,6,39.40,5.628571,5.790,2,6,2019-10_view

In [5]:
melted_df = pd.melt(df, id_vars=['user_id', 'year_month_event_type'], 
    value_vars=['product_id_nunique', 'price_sum', 'price_mean', 'price_median', 'user_session_nunique', 'category_id_nunique'])

melted_df['joined'] = melted_df['year_month_event_type'] + '_' + melted_df['variable']

In [6]:
melted_df.head()

,user_id,year_month_event_type,variable,value,joined
0,4103071,2019-10_cart,product_id_nunique,1.0,2019-10_cart_product_id_nunique
1,4103071,2019-10_view,product_id_nunique,6.0,2019-10_view_product_id_nunique
2,8846226,2019-10_cart,product_id_nunique,24.0,2019-10_cart_product_id_nunique
3,8846226,2019-10_remove_from_cart,product_id_nunique,12.0,2019-10_remove_from_cart_product_id_nunique
4,8846226,2019-10_view,product_id_nunique,6.0,2019-10_view_product_id_nunique

In [7]:
pivoted_df = pd.pivot(melted_df, index=['user_id'], columns='joined', values='value')

# Print the resulting pivoted DataFrame
pivoted_df = pivoted_df.reset_index()
pivoted_df.head()

joined,user_id,2019-10_cart_category_id_nunique,2019-10_cart_price_mean,2019-10_cart_price_median,2019-10_cart_price_sum,2019-10_cart_product_id_nunique,2019-10_cart_user_session_nunique,2019-10_purchase_category_id_nunique,2019-10_purchase_price_mean,2019-10_purchase_price_median,...,2020-02_remove_from_cart_price_median,2020-02_remove_from_cart_price_sum,2020-02_remove_from_cart_product_id_nunique,2020-02_remove_from_cart_user_session_nunique,2020-02_view_category_id_nunique,2020-02_view_price_mean,2020-02_view_price_median,2020-02_view_price_sum,2020-02_view_product_id_nunique,2020-02_view_user_session_nunique
0,465496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1120748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1180452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1458813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2038666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,25.38,25.38,25.38,1.0,1.0

In [8]:
pivoted_df.columns.to_list()

['user_id',
 '2019-10_cart_category_id_nunique',
 '2019-10_cart_price_mean',
 '2019-10_cart_price_median',
 '2019-10_cart_price_sum',
 '2019-10_cart_product_id_nunique',
 '2019-10_cart_user_session_nunique',
 '2019-10_purchase_category_id_nunique',
 '2019-10_purchase_price_mean',
 '2019-10_purchase_price_median',
 '2019-10_purchase_price_sum',
 '2019-10_purchase_product_id_nunique',
 '2019-10_purchase_user_session_nunique',
 '2019-10_remove_from_cart_category_id_nunique',
 '2019-10_remove_from_cart_price_mean',
 '2019-10_remove_from_cart_price_median',
 '2019-10_remove_from_cart_price_sum',
 '2019-10_remove_from_cart_product_id_nunique',
 '2019-10_remove_from_cart_user_session_nunique',
 '2019-10_view_category_id_nunique',
 '2019-10_view_price_mean',
 '2019-10_view_price_median',
 '2019-10_view_price_sum',
 '2019-10_view_product_id_nunique',
 '2019-10_view_user_session_nunique',
 '2019-11_cart_category_id_nunique',
 '2019-11_cart_price_mean',
 '2019-11_cart_price_median',
 '2019-11_cart_price_sum',
 '2019-11_cart_product_id_nunique',
 '2019-11_cart_user_session_nunique',
 '2019-11_purchase_category_id_nunique',
 '2019-11_purchase_price_mean',
 '2019-11_purchase_price_median',
 '2019-11_purchase_price_sum',
 '2019-11_purchase_product_id_nunique',
 '2019-11_purchase_user_session_nunique',
 '2019-11_remove_from_cart_category_id_nunique',
 '2019-11_remove_from_cart_price_mean',
 '2019-11_remove_from_cart_price_median',
 '2019-11_remove_from_cart_price_sum',
 '2019-11_remove_from_cart_product_id_nunique',
 '2019-11_remove_from_cart_user_session_nunique',
 '2019-11_view_category_id_nunique',
 '2019-11_view_price_mean',
 '2019-11_view_price_median',
 '2019-11_view_price_sum',
 '2019-11_view_product_id_nunique',
 '2019-11_view_user_session_nunique',
 '2019-12_cart_category_id_nunique',
 '2019-12_cart_price_mean',
 '2019-12_cart_price_median',
 '2019-12_cart_price_sum',
 '2019-12_cart_product_id_nunique',
 '2019-12_cart_user_session_nunique',
 '2019-12_purchase_category_id_nunique',
 '2019-12_purchase_price_mean',
 '2019-12_purchase_price_median',
 '2019-12_purchase_price_sum',
 '2019-12_purchase_product_id_nunique',
 '2019-12_purchase_user_session_nunique',
 '2019-12_remove_from_cart_category_id_nunique',
 '2019-12_remove_from_cart_price_mean',
 '2019-12_remove_from_cart_price_median',
 '2019-12_remove_from_cart_price_sum',
 '2019-12_remove_from_cart_product_id_nunique',
 '2019-12_remove_from_cart_user_session_nunique',
 '2019-12_view_category_id_nunique',
 '2019-12_view_price_mean',
 '2019-12_view_price_median',
 '2019-12_view_price_sum',
 '2019-12_view_product_id_nunique',
 '2019-12_view_user_session_nunique',
 '2020-01_cart_category_id_nunique',
 '2020-01_cart_price_mean',
 '2020-01_cart_price_median',
 '2020-01_cart_price_sum',
 '2020-01_cart_product_id_nunique',
 '2020-01_cart_user_session_nunique',
 '2020-01_purchase_category_id_nunique',
 '2020-01_purchase_price_mean',
 '2020-01_purchase_price_median',
 '2020-01_purchase_price_sum',
 '2020-01_purchase_product_id_nunique',
 '2020-01_purchase_user_session_nunique',
 '2020-01_remove_from_cart_category_id_nunique',
 '2020-01_remove_from_cart_price_mean',
 '2020-01_remove_from_cart_price_median',
 '2020-01_remove_from_cart_price_sum',
 '2020-01_remove_from_cart_product_id_nunique',
 '2020-01_remove_from_cart_user_session_nunique',
 '2020-01_view_category_id_nunique',
 '2020-01_view_price_mean',
 '2020-01_view_price_median',
 '2020-01_view_price_sum',
 '2020-01_view_product_id_nunique',
 '2020-01_view_user_session_nunique',
 '2020-02_cart_category_id_nunique',
 '2020-02_cart_price_mean',
 '2020-02_cart_price_median',
 '2020-02_cart_price_sum',
 '2020-02_cart_product_id_nunique',
 '2020-02_cart_user_session_nunique',
 '2020-02_purchase_category_id_nunique',
 '2020-02_purchase_price_mean',
 '2020-02_purchase_price_median',
 '2020-02_purchase_price_sum',
 '2020-02_purchase_product_id_nunique',
 '2020-02_purchase_user_session_nunique',
 '2020-02_remove_from_cart_category_id_nunique',
 '2020-02_remove_from_cart_price_mean',
 '2020-02_remove_from_cart_price_median',
 '2020-02_remove_from_cart_price_sum',
 '2020-02_remove_from_cart_product_id_nunique',
 '2020-02_remove_from_cart_user_session_nunique',
 '2020-02_view_category_id_nunique',
 '2020-02_view_price_mean',
 '2020-02_view_price_median',
 '2020-02_view_price_sum',
 '2020-02_view_product_id_nunique',
 '2020-02_view_user_session_nunique']

In [9]:
pivoted_df.to_csv('organized_data.csv', index=False)